<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.comphy.photo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ComphyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/img_logo_orange"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/img_logo_orange"
        android:supportsRtl="true"
        android:theme="@style/Theme.Comphy"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".ui.comment.detail.CommentDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.comment.main.CommentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.community.join.JoinCommunityActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.community.edit.EditCommunityActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.community.detail.CommunityDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.course.subject.detail.CourseSubjectDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.course.subject.CourseSubjectActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.course.CourseActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.event.all.AllEventActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.event.detail.EventDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.search.explore.detail.ExploreDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.search.explore.main.ExploreActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.community.all.AllCommunityActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.post.CreatePostActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.job.JobDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.community.create.CreateCommunityActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Orange.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Orange.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.biodata.BiodataActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Orange.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.auth.forgot.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Orange.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.auth.reset.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Orange.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.auth.verify.VerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Orange.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Orange.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Orange.Comphy"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.onboard.OnboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Comphy"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Orange.Comphy"
            tools:ignore="LockedOrientationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>